import React, { FC } from "react";

export interface {{pascalCase name}}Props {}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => {
  return (
    <div>
      <div>{{pascalCase name}}</div>
    </div>
  );
};
